wisp generates ETag headers without required quotes

RFC 9110 defines ETags to follow this syntax [RFC 9110, Section 8.8.3](https://www.rfc-editor.org/rfc/rfc9110.html#section-8.8.3):


```
  ETag       = entity-tag
  entity-tag = [ weak ] opaque-tag
  weak       = %s"W/"
  opaque-tag = DQUOTE *etagc DQUOTE
  etagc      = %x21 / %x23-7E / obs-text
             ; VCHAR except double quotes, plus obs-text
```

opaque-tag here always requires quotes, so the 2 valid forms are `W/"TAG"` or just `"TAG"`. Wisps `serve_static` function currently produces un-quoted etag headers, e.g. `ETag: ASDF-1234`.

~ 💜 

Good catch, thank you.